<!-- _includes/press.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if press.redirect -%}
  <a href="{{ press.url }}">
    {%- else -%}
    <a href="{{ press.url}}">
      {%- endif %}
      <div class="card hoverable">
        {%- if press.img %}
        {%- include figure.html
          path=press.img
          alt="press thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ press.title }}</h2>
          <p class="card-text">{{ press.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if press.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ press.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {%- if press.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fa-solid fa-star"></i>
                <span id="{{ press.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>