<div class="card-item col">
  {%- if press.redirect -%}
  <a href="{{ press.piece }}">
  {%- else -%}
  <a href="{{ press.piece}}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if press.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=press.img alt="press thumbnail" %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title text-lowercase">{{ press.title}}<br>{{ press.date | date: "%b %-d, %Y"  }}</h3>
            <p class="card-text">{{ press.description}}</p>
            <div class="row ml-1 mr-1 p-0">
              {%- if press.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ press.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                </div>
                {%- if press.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ press.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
